<div class="p-1">
  <div class="card">
    <div class="card-header bg-white">
      <div class="pull-right">
        <span style="font-size: 15px"> $4,000 /<b> $7,000 USD</b></span>
        <br>
        <div class="progress" style="height: 10px;">
          <div class="progress-bar bg-success" style="width:30%"></div>
        </div>
      </div>
      <h4 class="font-weight-bold">
       <a routerLink="/dashboard" role="button" class="text-dark"> <i class="fa fa-angle-left pr-2"></i> Bid Project</a>
      </h4>
    </div>
    <div class="card-body">
        <app-bund></app-bund>
    </div>
  </div>
</div>
