<div class="sidebar">
  <div class="p-2 bg-transparent">


    <div class="pull-right"><h5>Hi, <span class="font-weight-bold">Collins <i class="fa fa-angle-down"></i></span></h5></div>
    <img src="../../../../assets/images/dcsquare.png" class="img-fluid rounded-circle img-xs" alt="images">

    <div class="input-group p-1 sidebar-search">
      <span class="text-light pl-2 input-group-btn"><i class="fa fa-search"></i></span>
      <input placeholder="Search projects, users and questions" type="text" class="input-group-lg form-control text-light">
    </div>

    <div class="my-5">
      <h6 class="text-uppercase">Your Project</h6>

      <div class="d-flex flex-column">

        <div class="p-2 active">
          <a routerLink="/dashboard" class="text-dark">
            <img src="../../../../assets/images/bg-1.jpg" class="img-fluid rounded-circle img-xs pull-left mr-2"
                 alt="images">
            <div class="pl-4"><b>Bidding Projects</b> <br>
              <small class="text-muted">Simple bidding apps for companies</small>
            </div>
          </a>
        </div>

        <div class="p-2">
          <a routerLink="/dashboard/bundling" class="text-dark">
            <img src="../../../../assets/images/business.png" class="img-fluid rounded-circle img-xs pull-left mr-2"
                 alt="images">
            <div class="pl-4"><b>Floown</b> <br>
              <small class="text-muted">Simple Time Scheduling App</small>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div align="center">
      <button class="btn btn-primary">Start a Project</button>
    </div>

    <div class="position-bottom">
      <hr>
      <div class="d-flex flex-column" style="margin: 0; padding: 0;">
        <div class="p-2">
          <a role="button">
            <div class="pull-left"><i class="fa fa-search text-primary"></i></div>
            <div class="pl-4"><b>Search New Projects</b> <br>
              <small class="text-muted">Searching existing projects to work on</small>
            </div>
          </a>
        </div>

        <div class="p-2 active">
          <a role="button">
            <div class="pull-left"><i class="fa fa-users text-primary"></i></div>
            <div class="pl-4"><b>Manage your Network</b> <br>
              <small class="text-muted">Invite your friends or refer projects</small>
            </div>
          </a>
        </div>

        <div class="p-2">
          <a role="button">
            <div class="pull-left"><i class="fa fa-book text-primary"></i></div>
            <div class="pl-4"><b>Chat with Support</b> <br>
              <small class="text-muted">Speak to DevCenter Support</small>
            </div>
          </a>
        </div>

      </div>
    </div>



  </div>
</div>
