<div class="p-1">
  <div class="card">
    <div class="card-header bg-white">
        <div class="pull-right">
         <span style="font-size: 15px"> $4,000 /<b> $7,000 USD</b></span>
          <br>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-success" style="width:30%"></div>
          </div>
        </div>
      <h4 class="font-weight-bold">
        Bid Project
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-9">
          <app-chat-box></app-chat-box>
        </div>
        <div class="col-sm-3">
          <app-bid-links></app-bid-links>
        </div>
      </div>
    </div>
  </div>
</div>
