body {
  font-size: 10px;
  font-family: "sans-serif", "Calibri";
  background: #f2f2f2;
}

.content-left {
  margin-left: 250px !important;
  min-height: 100vh;
}

.content-margin {
  margin: 30px 10px 10px 10px;
}

.img-xs {
  width: 30px;
  height: 30px;
}

.img-md {
  width: 40px;
  height: 40px;
}

.sidebar {
  width: 240px;
  max-width: 240px;
  position: fixed;
  left: 0;
  background: #fff;
  height: 100%;
  overflow-y: auto;
}

.sidebar-search {
  border: 1px solid #f2f2f2;
  padding: 3px;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.sidebar-search i {
  padding-top: 6px;
}

.sidebar-header {

}

.position-bottom {
  font-size: 13px;
  /*position: fixed;*/
  padding-left: 5px;
  margin-top: 110px;
  bottom: 0;
}

.position-bottom .active {
  background: none;
  border: 1px solid #f2f2f2;
}

.text-light {
  color: #aaa !important;
}

.row, .col-sm-9, .col-sm-3 {
  padding: 0;
}

.col-sm-9 {
  border-right: 2px solid #f2f2f2;
}

.card-body {
  padding: 0;
  position: relative;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.thumbnail {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
