body {
  font-size: 10px;
  font-family: "sans-serif", "Calibri";
  background: #eef;
}
.content-left {
  margin-left: 250px !important;
  min-height: 100vh;
}

.content-margin {
  margin: 30px  10px  10px  10px;
}

.img-xs {
  width: 30px;
  height: auto;
}
.img-md {
  width: 50px;
  height: auto;
}
.sidebar {
  width: 240px;
  max-width: 240px;
  position: fixed;
  left: 0;
  background: #fff;
  height: 100%;
}

.sidebar-search {
  border: 1px solid #f2f2f2;
  padding: 3px;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.sidebar-search i {
  padding-top: 6px;
}

.sidebar-header {

}

.position-bottom {
  font-size: 13px;
  position: fixed;
  padding-left: 5px;
  bottom: 0;
}

.position-bottom .active {
  background: none;
  border: 1px solid #f2f2f2;
}
